nav {
  background-color:  #ff0095;
  display: flex;
  height: 120px;
  width: 100%;
  align-items: center;
  padding-left: 1.5em;
  padding-right: 1.5em;
  position: fixed;
  
  }
  
  #nav_logo {
  
  background-color : #ff0095;
  cursor: pointer;
  font-family: Bungee;
  color: ivory;
  font-size: 2em;

  }


.nav_right {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:0.5em;
}

#nav_new_tweet {
text-decoration: none;
color: ivory;
}
#nav_new_tweet:hover {
color: rgb(109, 255, 255);
transform: scale(1.1);
  }
  